record(ai,      "$(P)$(R)") {
    field(PINI, "YES")
    field(PREC, "2")
    field(DESC, "$(DESC)")
    field(DTYP, "asynFloat64")
    field(SCAN, "$(SCAN)")
    field(EGU,  "$(EGU)")
    field(LOPR, "$(LOPR)")
    field(HOPR, "$(HOPR)")
    field(INP,  "@asyn($(PORT))$(PARAM)")
    info(autosaveFields, "VAL")
}
