record(ao,      "$(P)$(R)") {
    field(PINI, "NO")
    field(PREC, "2")
    field(DESC, "$(DESC)")
    field(DTYP, "asynFloat64")
    field(SCAN, "Passive")
    field(EGU,  "$(EGU)")
    field(LOPR, "$(LOPR)")
    field(HOPR, "$(HOPR)")
    field(DRVL, "$(DRVL)")
    field(DRVH, "$(DRVH)")
    field(OUT,  "@asyn($(PORT))$(PARAM)")
}
